Flask==0.12.2
Jinja2==2.10
MarkupSafe==1.0
Werkzeug==0.13
argparse==1.4.0
httplib2==0.10.3
itsdangerous==0.24
oauth2==1.9.0.post1
oauthlib==2.0.6
python-linkedin==4.1
requests==2.18.4
requests-oauthlib==0.8.0
simplejson==3.6.5
wsgiref==0.1.2
